<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <title>View</title>
</head>
<body>

<table border="1">
    <tr>
        <td colspan="2"><a th:href="@{/edit}" src="#">edit</a></td>
    </tr>
    <tr>
        <td>Profile</td>
        <td th:text="${profile.id}">-</td>
    </tr>
    <tr>
         <td>Description</td>
         <td>URL</td>
    </tr>
    <tr th:if="${profile.links.empty}">
        <td colspan="2"> No Links Available </td>
    </tr>
    <tr th:each="link : ${profile.links}">
        <td th:text="${link.description}">-</td>
        <td th:text="${link.url}">-</td>
    </tr>
</table>

</body>
</html>